dataset1/output/
dataset2/output/
dataset3/output/
dataset4/output/
dataset-20230504/output/
dataset-simu/line/output/
dataset-simu/square/output/
dataset-simu/zz/output/

/MEMS_RANGE/data_830_430_1/output/
/MEMS_RANGE/data_830_430_2/output/
/MEMS_RANGE/data_830_430_3/output/
/MEMS_RANGE/data_830_430_5/output/
/MEMS_RANGE/data_830_430_6/output/
/MEMS_RANGE/data_simu/output/

专利实验/input/line-truth.nav

/旋转收缩方案/output
/旋转收缩方案1/output
/基于优化惯性数据/output
/dataset-20230504/data_2
