dataset1/output/
dataset2/output/
dataset3/output/
dataset4/output/
dataset-20230504/output/
dataset-simu/line/output/
dataset-simu/square/output/
dataset-simu/zz/output/

/MEMS_RANGE/data_830_430_1/output/
/MEMS_RANGE/data_830_430_2/output/
/MEMS_RANGE/data_830_430_3/output/
/MEMS_RANGE/data_830_430_5/output/
/MEMS_RANGE/data_830_430_6/output/
/MEMS_RANGE/data_simu/output/

专利实验/input/line-truth.nav

/旋转收缩方案/output
/旋转收缩方案1/output
/基于优化惯性数据/output
/dataset-20230504/data_2
/dataset1/output

/旋转收缩方案1/input/input_pm
/旋转收缩方案1/input/input_nt
/MEMS_RANGE/data_830_1207_5h
/潜标位置标定/data2
/潜标位置标定/data1
graduation/DR_INS/inputimu_data.txt
/潜标位置标定/Circle_ArrayCenter_Trj
/潜标位置标定/Circle_Beacon1_Trj
/潜标位置标定/Line_ArrayCenter_Trj
/潜标位置标定/Line_Beacon1_Trj
/潜标位置标定/result_file
/潜标位置标定/Square_ArrayCenter_Trj
/潜标位置标定/Square_Beacon1_Trj
/惯导实验数据/output
/潜标位置标定/Non-idealization/output
/潜标位置标定/Non-idealization
/惯导实验数据/output
/new_惯导试验/output
/潜标位置标定/stage_1/data1/input
/潜标位置标定/stage_1/data1
/潜标位置标定/stage_2/data/Circle_ArrayCenter_Trj/input_stage2
/潜标位置标定/stage_2/data/Circle_ArrayCenter_Trj/input_stage1
/潜标位置标定/stage_2/data/Circle_ArrayCenter_Trj
/graduation/DR_INS/input
/潜标位置标定/stage_2/data
/graduation/DR_INS/input
